<%= link_to "< All Worlds", worlds_path %>

<section class="container">
  <header>
    <h2><%= object.new_record? ? "New World" : "Edit World" %></h2>
  </header>

  <%= render partial: "shared/validate", locals: { object: object } %>

  <%= form_for object do |f| %>
    <table>
      <tr>
        <th><%= f.label :title %></th>
        <td><%= f.text_field :title %></td>
      </tr>
    </table>

    <footer>
      <%= f.submit(object.new_record? ? "Create" : "Update", class: "button ok") %>
    </footer>
  <% end %>
</section>
