<%= link_to "World #{@chunk.world.title}", @chunk.world %>

<h2>Chunk Editor: <%= [@chunk.world_x, @chunk.world_y] %> <%= json_link %></h2>

<%= link_to "randomize all tiles", randomize_world_chunk_path(@chunk.world, @chunk), method: :post, data: { confirm: "Are you sure?" } %>

<%= form_for [@chunk.world, @chunk], method: :get, url: set_tile_world_chunk_path do |f| %>
  <div class="edit-tile-types">
    <% @chunk.world.tile_range.each do |tile_type| %>
      <label class="<%= tile_classes(tile_type, 0, 0, false) %>">
        <%= radio_button_tag :tile_type, tile_type, tile_type == params[:tile_type]&.to_i %>
      </label>
    <% end %>
  </div>

  <div style="position: relative;"><!-- new rendering context -->
    <table class="world" style="position: absolute; left: 0px; top: 0px; width: <%= @chunk.chunk_width * display_width %>px; height: <%= @chunk.chunk_height * display_height %>px;">
      <% @chunk.tiles.each.with_index do |row, y| %>
        <tr>
          <% row.each.with_index do |column, x| %>
            <td class="<%= tile_classes(column, x, y, @chunk.impassable[x][y] != 0) %>">
              <input type="submit" name="location" value="<%= x %>,<%= y %>">
            </td>
          <% end %>
        </tr>
      <% end %>
    </table>

    <% @chunk.entities.each do |entity| %>
      <div class="<%= entity_classes(entity) %>"
        style="position: absolute; left: <%= (entity.chunk_x * display_width).round %>px; top: <%= (entity.chunk_y * display_height).round %>px; width: <%= entity.width * display_width %>px; height: <%= entity.height * display_height %>px;"></div>
    <% end %>
  </div>
<% end %>
