<!DOCTYPE html>
<html>
  <head>
    <title>Rpg</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="main">
      <ul>
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Worlds", worlds_path %></li>
        <li><%= link_to "Players", players_path %></li>
      </ul>
    </nav>

    <%= yield %>
  </body>
</html>
